
@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<h4>
    release 2.0<br />
    fevereiro 2025 <br /><br />
    <i> desde 2016</i>
</h4>

<p>DBrasil Soluções (011) 98258 1115</p>
<br /><br />
----------------------------------------------------------<br />
 2025 Fev 02 - alteração filtro Associado<br />

